._wrapper {
  display: flex;
  flex-direction: row;
}
._breadcrumb_item {
  display: flex;
  text-align: center;
  min-width: auto;
  height: 20px;
  margin: 0 5px 0 0;
  font-family: Open Sans;
  font-size: 12px;
  line-height: 16px;
  color: #a9a9a9;
  align-items: center;
  cursor: pointer;
}

.breadcrumb_item:hover {
  color: #6a983c;
  font-weight: 500;
}
