._navBar {
  min-width: 250px;
  min-height: 100vh;
  padding: 20px;
  font-family: 'Manrope', sans-serif;
  box-shadow: 5px 0 10px -8px #666;
  box-sizing: border-box;
  font-family:'roboto', Arial, Helvetica, sans-serif;
  /* -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
   -webkit-flex: 30 1 auto;
  -ms-flex: 30 1 auto;
  flex: 30 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; */
}
._title {
  font-size: medium;
  color: #242424;
  padding: 10px 0 10px 20px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
}
.nav_croll {
  max-height: 470px;
  overflow-y: auto;
  background: linear-gradient(transparent, rgba(84, 234, 91, 0)),
    linear-gradient(rgba(84, 234, 91, 0), transparent) 0 100%,
    radial-gradient(farthest-side at 50% 0, rgba(80, 78, 78, 0.5), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 50% 100%, rgba(80, 78, 78, 0.5), rgba(0, 0, 0, 0)) 0 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;
  background-size: 100% 33px, 100% 33px, 100% 11px, 100% 11px;
}

._button {
  position: relative;
  color: #444;
  font-size: medium;
  font-weight: 400;
  width: 100%;
  padding: 10px 10px 10px 20px;
  margin: 5px 0;
  background-color: transparent;
  border: 0;
  outline: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  width: auto;
}
._button:hover,
._button:active {
  color: #648563;
  background-color: #4f4f4f07;
  outline: none;
}
._icon {
  padding: 0;
  margin: 0;
  color: #648563;
}

._titleButton {
  padding-left: 10px;
  text-align: left;
}
._logo_container {
  width: 150px;
  margin: 0 auto;
  padding-right: 20px;
}
._header_logo {
  width: 100%;
  min-width: 120px;
}