.carprofile_scene {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
}

/* Breadcrumbs Row*/
.breadcrumb_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 25px;
}
.breadcrumbs_wrapper_xlg {
  display: flex;
  width: 1180px;
}
.breadcrumbs_wrapper_lg {
  display: flex;
  width: 844px;
}
.breadcrumbs_wrapper_md {
  display: flex;
  width: 894px;
  margin-left: 50px;
}
.breadcrumbs_wrapper_sm {
  display: flex;
  width: 894px;
  margin-left: 25px;
}

/* CarProfile Row & Wrapper*/
.carprofile_row_xlg {
  display: flex;

  width: 100vw;
  background-color: #ffffff;
  margin-top: 400px;
  justify-content: center;
}
.carprofile_row_lg {
  display: flex;
  width: 100vw;
  background-color: #ffffff;
  margin-top: 280px;
  justify-content: center;
}
.carprofile_row_md {
  display: flex;

  background-color: #ffffff;
  margin-top: 400px;
  padding: 0 50px;
  justify-content: center;
}
.carprofile_row_sm {
  display: flex;
  width: 100vw;
  background-color: #ffffff;
  margin-top: 180px;
  justify-content: center;
}
.carprofile_wrapper_xlg {
  display: flex;
  flex-direction: column;
  width: 1180px;
}
.carprofile_wrapper_lg {
  display: flex;
  flex-direction: column;
  width: 844px;
}
.carprofile_wrapper_md {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.carprofile_wrapper_sm {
  display: flex;
  flex-direction: column;

  margin-left: 25px;
  margin-right: 25px;
}

/* Photo & Video*/
.photo_container_xlg {
  display: flex;
  width: 720px;
  height: 480px;
  margin-top: -350px;
}
.photo_container_lg {
  display: flex;
  width: 540px;
  height: 360px;
  margin-top: -230px;
}
.photo_container_md {
  display: flex;
  width: 720px;
  height: 480px;
  margin-top: -350px;
}
.photo_container_sm {
  display: flex;
  width: 100%;
}
.photo_container_sm {
  display: flex;
  margin-top: -130px;
}
.photo {
  display: flex;
  width: 100%;
}
.video_wrapper {
  display: flex;
  flex-direction: row;
  max-width: 120px;
  margin-top: 20px;
  width: inherit;
}
.video_wrapper_sm {
  display: flex;
  max-width: 120px;
  margin-top: 50px;
}
.video_container {
  display: flex;
  justify-content: flex-start;
}

/* Description with icon*/
.icon_description_wrapper {
  display: flex;
  flex-direction: row;

  margin-top: 24px;
}
.icon_description_wrapper_md {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 24px 0px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgb(230, 232, 240);
  justify-content: space-between;
}
.icon_description_wrapper_sm {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: 24px;
  align-items: center;
}
.icon_description_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgb(230, 232, 240);
}
.icon_description_container_sm {
  display: flex;
  flex-direction: row;
  max-width: 360px;
  margin-bottom: 24px;
  padding-bottom: 24px;
  justify-content: center;
  border-bottom: 1px solid rgb(230, 232, 240);
}

/* Description no icon*/
.noIcon_description_wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.noIcon_description_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.noIcon_description_item {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 10px 10px 20px 10px;
}
.noIcon_description_title {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: rgb(172, 181, 198);
}
.noIcon_description {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: rgb(2, 24, 89);
}

/* Online Study Row*/
.online_study_row {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(11, 158, 217);
  justify-content: center;
}
.online_study_wrapper_xlg {
  display: flex;
  width: 1180px;
  padding: 10px 0;
  align-items: center;
}
.online_study_wrapper_lg {
  display: flex;
  width: 844px;
  padding: 10px 0;
  align-items: center;
}
.online_study_wrapper_md {
  display: flex;
  width: 100%;
  padding-left: 50px;
  align-items: center;
}
.online_study_wrapper_sm {
  display: flex;
  width: 100%;
  padding-left: 25px;
  align-items: center;
}
.online_study_text_container {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding: 10px 0;
}
.online_study_icon {
  color: white;
  width: 48px;
  margin-right: 10px;
}
.online_study_title {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.online_study_text {
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
}
