.carprofile_scene {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

/* Breadcrumbs Row*/
.breadcrumb_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  margin: 0px 0 0px 45px;
}
/* Img Row */
._car_image_slider {
  display: flex;
  position: relative;
}
._car_image {
  display: flex;
  width: 100vw;
  height: 698px;
  object-fit: cover;
}
._tags_container {
  display: flex;
  position: absolute;
  flex-direction: column;
  height: 618px;
  justify-content: space-between;
  margin: 50px 0 0 100px;
}
._name_price_wrapper {
  display: flex;
}
._name_price_container {
  display: flex;
  flex-direction: column;
}
._car_name {
  display: flex;
  margin-bottom: 20px;
  padding: 5px 20px;
  align-items: center;
  min-height: 30px;
  border-radius: 12px;
  background-color: #f9f9f9;
  color: #151515;
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  box-shadow: 0px 5px 10px rgba(14, 31, 53, 0.08), 0px 10px 20px rgba(14, 31, 53, 0.16),
    0px 24px 32px -1px rgba(14, 31, 53, 0.16), 0px 32px 64px -2px rgba(14, 31, 53, 0.08);
}
._car_price_claim {
  display: flex;
  padding: 10px 20px 0 20px;
  min-height: 30px;
  max-width: 126px;
  border-radius: 12px;
  background-color: #6a983c;
  color: #ffffff;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  box-shadow: 0px 5px 10px rgba(14, 31, 53, 0.08), 0px 10px 20px rgba(14, 31, 53, 0.16),
    0px 24px 32px -1px rgba(14, 31, 53, 0.16), 0px 32px 64px -2px rgba(14, 31, 53, 0.08);
}

._car_version_tag_container {
  display: flex;
  flex-wrap: wrap;
}
._car_version_tag {
  display: flex;
  margin: 0 15px 15px 0;
  padding: 5px 20px;
  align-items: center;
  min-height: 30px;
  border-radius: 12px;
  border: 1px solid #6a983c;
  background-color: #f9f9f9;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  color: #6a983c;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(14, 31, 53, 0.08), 0px 10px 20px rgba(14, 31, 53, 0.16),
    0px 24px 32px -1px rgba(14, 31, 53, 0.16), 0px 32px 64px -2px rgba(14, 31, 53, 0.08);
}
._car_version_tag_active,
._car_version_tag:hover {
  background-color: #6a983c;
  color: #ffffff;
}

/* CarProfile page Wrapper*/
._carprofile_page_scene {
  display: flex;
  flex-direction: row;
  margin: 0 80px;
}
._spec_wrapper {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
}
._container_title {
  margin-bottom: 20px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  color: #151515;
  /* color: #6a983c; */
}
._spec_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
._spec_item_title_icon {
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin: 0 15px 0 20px;
}
/* CarProfile container*/
._carprofile_wrapper {
  width: 55vw;
  height: 1800px;
}
._item_hr {
  display: flex;
  margin: 5px 40px 5px 20px;
}
._color_container {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
._color_circle {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 20px;
  border: 1px solid rgb(216, 216, 216);
}

/* renting offer container*/
._rentingoffer_wrapper {
  width: 45vw;
  background-color: rgb(249, 249, 249);
  justify-content: center;

  min-height: 100%;
  z-index: 10;
}
._renting_container_title {
  display: flex;
  justify-content: center;
  margin: 25px 25px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  /* color: #151515; */
  color: #46760a;
}
._renting_offer_list_container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}
._not_logged_renting_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
._login_container_title {
  text-align: center;
  margin: 30px 0;
}
._back_to_list_page {
}
