._wrapper {
  display: block;
  width: 100%;
  font-family: Poppins;
}
._filter_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 42px;
}
._container_title {
  height: 24px;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: rgba(21, 21, 21, 1);
  margin-bottom: 12px;
}
._filter_button_container {
  display: flex;
  flex-direction: row;
}
