._toggles_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.switch_container {
  margin-left: 20px;
}
._toggle_box {
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px -7px #333;
}
._label {
  font-size: 1.4em;
  color: #666;
  text-transform: capitalize;
}

._icon_label {
  font-size: 18px;
  color: rgb(206, 206, 206);
}

._circle_toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='checkbox'].switch {
  position: absolute;
  opacity: 0;
}

input[type='checkbox'].switch + div {
  vertical-align: middle;
  width: 40px;
  height: 20px;
  border-radius: 999px;
  background:  rgba(2, 24, 89, 1) ;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow;
  cursor: pointer;
}

input[type='checkbox'].switch + div span {
  position: absolute;
  font-size: 1.6rem;
  color: white;
  margin-top: 12px;
}

input[type='checkbox'].switch + div span:nth-child(1) {
  margin-left: 15px;
}

input[type='checkbox'].switch + div span:nth-child(2) {
  margin-left: 55px;
}

input[type='checkbox'].switch:checked + div {
  width: 60px;
  margin-top: 10px;
  background-position: 0 0;
  background: rgb(255, 69, 151);
}

input[type='checkbox'].switch + div {
  margin-top: 10px;
  width: 60px;
  height: 20px;
}

input[type='checkbox'].switch:checked + div {
  background: rgb(255, 69, 151);
}

input[type='checkbox'].switch + div > div {
  float: left;
  width: 38px;
  height: 38px;
  border-radius: inherit;
  background: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(171, 171, 171, 0.6) 100%
  );
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform, background-color;
  transition-property: transform, background-color;
  pointer-events: none;
  margin-top: -7px;
  margin-left: -3px;
}

input[type='checkbox'].switch:checked + div > div {
  -webkit-transform: translate3d(20px, 0, 0);
  transform: translate3d(20px, 0, 0);
  background-color: #ffffff;
}

input[type='checkbox'].bigswitch.switch + div > div {
  width: 44px;
  height: 44px;
  margin-top: 1px;
}

input[type='checkbox'].switch:checked + div > div {
  -webkit-transform: translate3d(32px, 0, 0);
  transform: translate3d(32px, 0, 0);
}
