.header {
  display: flex;
  justify-content: center;
  background-color: none;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 450;
  letter-spacing: 0.5px;
  color: rgb(2, 24, 89);
}
.container_large {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1180px;
  max-height: 100px;
  padding: 25px 0;
}
.container_medium {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 844px;
  max-height: 100px;
  padding: 25px 25px;
}
.logo_container {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  width: 130px;
  height: 32px;
}
.menu_container {
  display: flex;
  align-items: center;
}
.nav_container {
  display: flex;
  flex-direction: row;
}
/* for windowSize sm & md */
.menu_sidebar {
  display: flex;
  align-items: center;
  width: 25px;
}

.login_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.login_buttons {
  display: flex;
}
.icon {
  color: black;
  cursor: pointer;
}
