._carlist_page {
  display: flex;
  justify-content: center;
}

._scene_container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 45px 0;
}

/* Title & Tab container */
._scene_sorting_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 64px;
  margin: 0 45px;
}
._scene_sorting_container_sm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
._title {
  display: flex;
  justify-content: center;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  color: rgba(21, 21, 21);
  margin: 5px 0;
}
._title_md {
  display: flex;
  justify-content: center;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 48px;
  color: rgba(21, 21, 21);
  margin: 5px 0;
}
._tab_container {
  display: flex;
}

/* List container */
._list_container {
  display: flex;
  flex-direction: row;

  margin: 10px 21px 0 45px;
}
._left_list_container {
  display: flex;
  min-width: 268px;
}
.filter_container {
  display: flex;
}

._right_list_container {
  display: flex;
  width: 100%;
  margin-left: 18px;
  justify-content: center;
}
