body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
  user-select: none;
  font-family: Poppins, 'Open-Sans', Roboto, sans-serif;
}
*::-webkit-scrollbar {
  width: 12px;
  box-shadow: 0 0 10px -5px #444;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #64856330;
  border-radius: 20px;
  border: 1px solid #fff;
}
