body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(247, 247, 250);
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Open-Sans', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
*::-webkit-scrollbar {
  width: 12px;
  box-shadow: 0 0 10px -5px #444;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #64856330;
  border-radius: 20px;
  border: 1px solid #FFF;
}
