.container {
  display: block;
}
.menu_item {
  display: flex;
  justify-content: center;
  min-width: 90px;
  max-height: 27px;
}
.link_item {
  padding: 6px 0;
}
.link_item:active {
  border-bottom: 1px solid rgb(2, 24, 89);
}
.link_item:hover {
  color: #ff4597;
}
