._wrapper {
  display: block;
  margin: 0 12px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 22.5px;
}
._container {
  display: flex;
  justify-content: center;
  min-width: 100px;
  max-height: 27px;
}
._item {
  padding: 6px 0;
}

._item:hover {
  color: rgba(106, 152, 60, 1);
}
