/* Search xlg, lg, md*/
._wrapper {
  display: flex;
  width: 500px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid rgba(209, 209, 209, 1);
  background-color: rgba(249, 249, 249, 1);
}
._categories_container {
  height: 16px;
  margin: 8px 0 9px 16px;
}
._select {
  font-family: poppins;
  font-size: 14px;
  border: none;
  background: none;
  font-weight: 700;
}
._search_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 26px;
  margin: 8px 0 9px 16px;
  padding-left: 20px;
  border-left: 1px solid rgba(209, 209, 209, 1);
}
._input {
  width: 240px;
  border: none;
  background: none;
  outline: none;
}
._input::placeholder {
  font-family: Open sans;
  font-size: 14px;
  font-weight: 400;
  color: rgba(169, 169, 169, 1);
}
._search_icon {
  margin-top: 5px;
}

/* Search sm*/
._wrapper_sm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
._categories_container_sm {
  display: flex;
  width: 260px;
  height: 40px;
  margin: 8px 0 9px 0px;
  border-radius: 15px;
  border: 1px solid rgba(209, 209, 209, 1);
  background-color: rgba(249, 249, 249, 1);
  align-items: center;
  justify-content: center;
}
._select_sm {
  font-family: poppins;
  font-size: 14px;
  border: none;
  background: none;
  font-weight: 700;
}
._search_container_sm {
  display: flex;
  width: 300px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid rgba(209, 209, 209, 1);
  background-color: rgba(249, 249, 249, 1);
  align-items: center;
  justify-content: center;
}

._input_sm {
  width: 260px;
  border: none;
  background: none;
  outline: none;
}
