._header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
}

/* Header-Top xlg, lg, md*/
._header_top_wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 92px;
  font-family: Open sans;
  line-height: 16px;
}
._logo_container {
  width: 180px;
  margin-right: 30px;
}
._header_logo {
  width: 100%;
  min-width: 160px;
}
._header_top_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
._header_top_left_container {
  display: flex;
  width: 100%;
  align-items: center;
}
._header_top_green_link_left {
  font-weight: 500;
  font-size: 12px;
  color: rgba(106, 152, 60, 1);
  margin-right: 20px;
  text-align: center;
}
._header_top_link {
  min-width: 100px;
  font-weight: 500;
  font-size: 12px;
  color: rgba(21, 21, 21, 1);
  margin-right: 20px;
}
._search_container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 25px 5px 0 5px;
}
._header_top_right_container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
}
._header_top_right_inner_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
._header_top_green_link_right_container {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

._header_top_green_link_right {
  font-weight: 500;
  font-size: 12px;
  color: rgba(106, 152, 60, 1);
  margin: 0 15px;
}

._login_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
._link_login_style {
  display: flex;
  flex-direction: row;
  align-items: center;
}
._login_icon {
  min-width: 24px;
  height: 24px;
  margin: 0px 0px 0 0px;
  color: rgba(21, 21, 21);
  cursor: pointer;
  margin-left: 10px;
}
._login_icon:hover {
  color: rgba(106, 152, 60, 1);
}
._login_container_text {
  display: flex;
  font-family: Open sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-left: 10px;
  color: rgba(21, 21, 21);
}
._login_container_text:hover {
  color: rgba(106, 152, 60, 1);
}
/* Header-Top sm*/
._header_top_wrapper_sm {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 50px;
  height: 47px;
  border-bottom: 1px solid rgba(21, 21, 21, 0.05);
}

._menu_icon_container {
  display: flex;
  align-items: center;
}
._menu_icon {
  width: 22px;
  color: rgba(106, 152, 60, 1);
}

._logo_sm_container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}
._header_logo_sm {
  display: flex;
  width: 90px;
  margin-top: -26px;
}
._search_container_sm {
  display: flex;
  margin: 20px 0 0 0px;
  justify-content: center;
}

/* Header Nav */
._nav_wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 47px;
  justify-content: flex-start;

  background-color: rgba(249, 249, 249, 1);
}
._nav_container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
._title {
  display: flex;
  justify-content: center;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(21, 21, 21);
}
._back_to_list_page {
  display: flex;
  text-align: left;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(21, 21, 21);
  margin-left: 20px;
}
._nav_arrow_left_icon {
  margin-left: 45px;
  width: 20px;
  color: rgba(106, 152, 60, 1);
}
