._home_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}
/* Scene Container */
._scene_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
._home_slider {
  display: flex;
  margin-bottom: 20px;
}
._slider_image {
  margin: 0;
  width: 100%;
}
._tags_container {
  display: flex;
  position: absolute;
  flex-direction: column;

  justify-content: space-between;
  margin: 50px 0 0 100px;
}
._tag_title_wrapper {
  display: flex;
  flex-direction: column;
}
._tag_title_container {
  display: flex;
}
._tag_title {
  margin-bottom: 20px;
  padding: 5px 20px;
  align-items: center;
  min-width: 100px;
  min-height: 30px;
  border-radius: 12px;
  background-color: #f9f9f9;
  color: rgba(21, 21, 21);
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  box-shadow: 0px 5px 10px rgba(14, 31, 53, 0.08), 0px 10px 20px rgba(14, 31, 53, 0.16),
    0px 24px 32px -1px rgba(14, 31, 53, 0.16), 0px 32px 64px -2px rgba(14, 31, 53, 0.08);
}
._tag_title_green {
  margin-bottom: 20px;
  padding: 5px 20px;
  align-items: center;
  min-width: 100px;
  min-height: 30px;
  border-radius: 12px;
  background-color: #f9f9f9;
  color: #6a983c;
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  box-shadow: 0px 5px 10px rgba(14, 31, 53, 0.08), 0px 10px 20px rgba(14, 31, 53, 0.16),
    0px 24px 32px -1px rgba(14, 31, 53, 0.16), 0px 32px 64px -2px rgba(14, 31, 53, 0.08);
}

/* Offers Container */
._offers_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
._title {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 48px;
  color: rgba(21, 21, 21);
  margin: 30px 30px;
  text-align: center;
}
._subtitle {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: rgba(21, 21, 21);
  margin: 10px 50px;
}
._button {
  display: flex;
  padding: 0 20px 0 20px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: #6a983c;
  color: #ffffff;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  margin: 15px;
}
._logo_wrapper {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
  padding: 30px 0 60px 0;
}
._logo_group_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  margin: 0 50px;
}
._logo_group_container_sm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}
._logo_container {
  display: flex;
  flex-direction: column;
  width: 80px;
}
._logo {
  display: flex;
  width: 80px;
}
._logo_name {
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  color: rgba(21, 21, 21);
}
._white_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  margin-top: 100px;
}
._img_container {
  display: flex;
  justify-content: flex-end;
}
._img_electric_car {
  width: 60%;
  margin: 0 50px;
}
._charging_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
._review_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
._review_list_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
._review_list_container_sm {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-between;
}
._review_container {
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
  min-width: 150px;
}
._reviewer_name {
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  color: rgba(21, 21, 21);
  line-height: 30px;
}
._reviewer_car {
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #6a983c;
}
._reviewer_text {
  text-align: center;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 14px;
  color: rgba(21, 21, 21);
  margin-top: 15px;
}
